@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

@font-face {
  font-family: 'neue_machinaregular';
  src: url('../public/fonts/neuemachina-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/neuemachina-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue_machinaultrabold';
  src: url('../public/fonts/neuemachina-ultrabold-webfont.woff2') format('woff2'),
    url('../public/fonts/neuemachina-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue_machinalight';
  src: url('../public/fonts/neuemachina-light-webfont.woff2') format('woff2'),
    url('../public/fonts/neuemachina-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  padding: 0;
  margin: 0;
  font-weight: 200;
  box-sizing: border-box;
  font-family: 'neue_machinalight';
  /* font-family: 'Nuosu SIL', serif; */
  font-size: 14px;
}

P {
  line-height: 1.8;
}

.font-machina-bold {
  font-family: 'neue_machinaultrabold';
}

.font-machina-light {
  font-family: 'neue_machinalight';
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .nav-item {
    transition: 0.3s ease-in;
  }

  .nav-item.is-active {
    flex-grow: 1;
  }

  .nav-item.is-active .tab {
    background-color: #1a1a1a;
    color: #f1f1f1;
  }

  .tab {
    width: 50px;
    height: 100vh;
    padding-top: 100px;
    cursor: pointer;
  }

  .tab span {
    display: flex;
    align-items: baseline;
    transform: rotate(-90deg);
    font-size: 2rem;
  }
  .showcase {
    transform: translate(-50%, -10%);
    pointer-events: none;
  }
}

.track {
  will-change: transform;
}

.marquee--rtl {
  animation: marquee-rtl 20s linear infinite;
}

.marquee--ltr {
  animation: marquee-ltr 20s linear infinite;
}

@keyframes marquee-rtl {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-ltr {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes marquee-ttb {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-30%);
  }
}

// .image-project-wrapper {
//   height: 500px;
//   width: 500px;
// }

.previewProject {
  animation: marquee-ttb 7s linear infinite;
  animation-direction: alternate;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
